@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'rabar-28';
  src: url(../src/fonts/Rabar_028.ttf);
}

@font-face {
  font-family: 'rabar-33';
  src: url(../src/fonts/Rabar_033.ttf);
}